@model  CalculatorMVC_SolbegSoft_.Models.CalcModel
@{
    ViewBag.Title = "Calculator";
}
<html>
<head>
<script src="~/Scripts/CalcScript.js"></script>
</head>
<body>
    <h2 style="text-align:center">Calculator(SolbegSoft)</h2>
    <div class="calc-body">

        <div class="info-body">
            <p class="text-info">
                + Operation summation <br />
                - Operation substraction <br />
                * Operation multiply <br />
                / Operation division <br />
                Click C to clear the fields <br />
                <br />
            </p>
        </div>
        <div class="calc-body-content">
            @using (Html.BeginForm("/Index", "Calc", FormMethod.Post))
            {

                <div class="form-group">
                    <label for="Example">Write an example here</label>
                    <input type="text" class="form-control" id="Example" name="Example" value="@Model.Example" />
                </div>
            }
                <button type="submit" onclick="test.apply(this)" class="my-button" id="calc" value="calc" name="calculate">=</button>
                <button type="submit" onclick="test.apply(this)" class="my-button" id="clear" value="clear">C</button>
                <button type="submit" onclick="test.apply(this)" class="my-button" id="plus" value="+">+</button>
                <button type="submit" onclick="test.apply(this)" class="my-button" id="minus" value="-">-</button>
                <button type="submit" onclick="test.apply(this)" class="my-button" id="multiply" value="*">*</button>
                <button type="submit" onclick="test.apply(this)" class="my-button" id="division" value="/">/</button>
        </div>



        </div>
</body>
</html>


